// Primary Colors
$white: #ffffff;
$black: #2c2c2c;
$light-black:#646464;
$dark-grey:#c9c9c9;
$light-grey: #f6f6f6;
$off-white:#fdfef9;
$body: #646464;
$gradient: linear-gradient(to right, #7386fe, #50b1f6); 
$gradient-two:linear-gradient(to right, #50b1f6, #7386fe); 


$color-main: linear-gradient(to right, #7386fe, #50b1f6); 



